<div class="page-header">
<%= link_to 'Cancel', employees_path, :class=>"btn btn-default pull-right" %>
<%= link_to 'Show', @employee, :class=>"btn btn-default pull-right" %>
<h2>Editing Employee</h2>
</div>

<div class="row">
 <div class="col-xs-8 col-xs-offset-2">

<%= render 'form' %>

</div>
</div>


