<div class="page-header">
<%= link_to 'Cancel', event_path, :class=>"btn btn-default pull-right" %>
<%= link_to 'Show', @event, :class=>"btn btn-default pull-right" %>
<h2>Editing Event</h2>
</div>

<%= render 'form' %>

