<div class="page-header">
<%= link_to 'Cancel', companies_path, :class=>"btn btn-default pull-right" %>
<%= link_to 'Show', @company, :class=>"btn btn-default pull-right" %>
<h2>Editing Company</h2>
</div>


<div class="row">
 <div class="col-xs-8 col-xs-offset-2">

<%= render 'form' %>

</div>
</div>


