<div class="page-header">
<%= link_to 'Cancel', companies_path, :class=>"btn btn-default pull-right" %>
<%= link_to 'Show', @company, :class=>"btn btn-default pull-right" %>
<h1>Editing Company</h1>
</div>

<%= render 'form' %>

